.cardInfos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    padding: 32px;
    background-color: var(--primary-color);
    color: #1C1B1B;
}

.cardInfos p {
    color: #1C1B1B;
    font-size: small;

}

.cardTitle {
    font-weight: lighter;
    letter-spacing: 4px;
}

.cardMain {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardMain h1 {
    margin: 0;
}

.cardMain h2 {
    margin: 0;
}
