.StatSingleCard {
    padding: 24px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #1c1b1b;
}

.StatSingleCard h2 {
    margin: 0;
}
