.cardBody {
    gap: 30px;
    align-items: center;
    background-color: #2a2a2a;
    padding: 16px 16px 16px 16px;
    height: 98px;
}

.coverTitleInfo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.movieTitle {
    margin: 0px;
}

.moviePoster{
    width: 64px;
    height: 96px;
    object-fit: cover;
}

.discreptionMarginCorrection {
    margin: 0;
    /* text-align: center; */
}

.titleAndTime{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interactionInfos {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    color: #d0c6ab;
}

.cardBody{
    cursor: pointer;
    transition: 0.3s ease;
}

.cardBody:hover {
    background-color: #3a3a3a;
    transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
    .cardBody {
        padding: 5px;
        height: auto;
    }
}
