.bodyCard {
    width: 160px;
    
}


.cardImage {
    /* width: 160px; */
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seenWrapper {
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 9;

}
.seenWrapper img {
height: 9px;

}
.wasSeen {
    /* font-size: 9; */

    font-weight: bold;
    width: fit-content;
    height: fit-content;
    /* justify-self:  flex-end; */
}

.infosWraper {
    display: flex;
    gap: 5px;
}

.infosWraper {
    display: flex;
    gap: 5px;
}

.infoStyle {
    font-size: 9;
    padding: 4px;
    width: fit-content;
    height: fit-content;
    font-weight: light;

}

.titleRatingWraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.movieTitle {
    font-size:medium;
}

.titleRatingWraper span {
    color: var(--primary-color);
}