.browseContent {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mainBrowseContentHead {
    margin-top: 100px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    border-color: #1c1b1b;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.historyList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.emptyState {
    background-color: #1c1b1b;
    color: #d0c6ab;
    padding: 24px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .browseContent {
        margin-top: 0px;
        margin-bottom: 70px;
    }
}