.browseContent {
    display: flex;
    margin-top: 70px;
}

.mainBrowseContent {
    width: 75%;
    margin: 32px;
}

.mainBrowseContentHead {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    border-color: #1c1b1b;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.infosSearch {
    display: flex;
    gap: 15px;
    background-color: var(--popup-background);
    padding: 8px 16px 8px 16px;
}

.infosSearch p {
    margin: 0;
}

.wrapperInfoSearch {
    display: flex;
    align-items: flex-end;
}

.moviesList {
    margin-top: 48px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .browseContent {
        flex-direction: column;
        margin-top: 0px;
    }

    .wrapperInfoSearch {
        display: none;
    }

    .mainBrowseContentHead {
        padding-bottom: 15px;
    }

    .mainBrowseContent {
        width: auto;
        margin: 0px;
        margin-top: 15px;
    }
}
