.card {
    display: flex;
    width: 70%;
}
.halfCard {
    padding: 50px;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    background-color: var(--popup-background);
}
.secondHalf {
    background-color: var(--popup-background-second);
}

.buttonSpace {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginInfos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recoverPassword {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -30px;
    color: color-mix(in srgb, var(--primary-color), transparent 70%);
}
