POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

POSTGRES_HOST=
POSTGRES_PORT=

PORT=
NODE_ENV=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=
JWT_SECRET=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER =

LINK_API_MOVIES_LIST_YTS=
LINK_API_MOVIES_LIST_TORRENTCLAW=
OMDB_KEY=
TMDB_API=
TMDB_PICS=
TMDB_KEY=
TMDB_ACCESS_TOKEN=

## 42 API
FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=
FORTY_TWO_CALL_BACK=

## Public API URL
PUBLIC_API_URL=
FRONTEND_URL=