PORT="8080"

POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_USER=""

POSTGRES_HOST="database"
POSTGRES_PORT="5432"

NODE_ENV='dev'

JWT_SECRET=''
FORTY_TWO_CLIENT_ID=''
FORTY_TWO_CLIENT_SECRET=''
FORTY_TWO_CALL_BACK=''