POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

POSTGRES_HOST="database"
POSTGRES_PORT="5432"

PORT="8080"
NODE_ENV="dev"

REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_URL="redis://redis:6379"

JWT_SECRET=

MAIL_SERVER="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER="noreplay@matcha.com"

LINK_API_MOVIES_LIST_YTS="https://movies-api.accel.li/api/v2/"

TMDB_API="https://api.themoviedb.org/3/"
TMDB_PICS="https://image.tmdb.org/t/p/original/"
TMDB_KEY=

## 42 API
FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=
FORTY_TWO_CALL_BACK="http://localhost:8081/api/auth/login/42/callback"

## Public API URL
PUBLIC_API_URL="http://localhost:8081/api"
FRONTEND_URL="http://localhost:8081"