/* .productionLogCard {
    padding: 32px;
    width: 20%;
    background-color: var(--popup-background-second);
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.productionLogTitleDeco {
    width: 48px;
    background-color: var(--primary-color);
    height: 4px;
}

.productionLogTitle {
    font-size: xx-large;
}

.productionWraper {
    padding-top: 80px;
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.productionLogElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.commentInfosFilter {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.commentInfosFilter span {
    font-weight: lighter;
    font-size: small;
}

.commentInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentSectionTitle {
    padding-top: 80px;
    font-size: xx-large;
}

.commentSelectedFilter {
    color: var(--primary-color);
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 0px 0px 1px 0px;
}

.viewCommentSection {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    gap: 40px;
}

@media screen and (max-width: 768px) {
    .productionLogElements {
        align-items: normal;
    }
    .viewCommentSection {
        margin-bottom: 100px;
    }
}
