.filterWraper {
    border-style: solid;
    border-color: #1c1b1b;
    border-width: 0px 1px 0px 0px;
    width: 20%;
    margin-top: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputHorisantal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputHorisantal input {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: var(--popup-background);
    color: color-mix(in srgb, var(--primary-color), transparent 70%);
    padding: 18px 5px 18px 5px;
}

.inputHorisantal input::placeholder {
    color: color-mix(in srgb, var(--primary-color), transparent 70%);
}

.inputHorisantal input:focus {
    color: color-mix(in srgb, var(--primary-color), transparent 50%);
}

.inputHorisantal select {
    background-color: var(--popup-background);
    border: none;
    padding: 18px 5px 18px 5px;
    color: color-mix(in srgb, var(--primary-color), transparent 50%);

    font-weight: lighter;
}

.inputHorisantal select::-ms-expand {
    display: none;
    color: color-mix(in srgb, var(--primary-color), transparent 50%);
}

.prodYear {
    display: flex;
    gap: 4px;
    /* flex-direction: row; */
    /* width: 100%; */
}

.prodYear input {
    direction: none;
    width: 45%;
}

.inputHorisantal input[type="range"] {
    padding: 0;
    accent-color: color-mix(in srgb, var(--primary-color), transparent 60%);
}

.inputHorisantal div {
    display: flex;
    justify-content: space-between;
    color: #d0c6ab;
}

.inputHorisantal ul {
    list-style-type: none;
    padding: 0;
}

.noneSelectedSort {
    list-style-type: none;
    padding: 10px 4px;
    color: #d0c6ab;
    cursor: pointer;
}



.selectedSortAsc {
    background-color: var(--popup-background);
    color: var(--primary-color);
    border-style: solid;
    border-width: 0 0 0 2px;
}

.selectedSortDesc {
    background-color: var(--popup-background);
    color: gray;
    border-style: solid;
    border-color: gray;
    border-width: 0px 0 0 2px;
}

.mobileRating {
    display: none;
}

.desktopRating {
    display: block;
}

.ratingDisplay span {
    display: block;
}

.sortingForChices {
    display: none;
}

@media screen and (max-width: 768px) {
    .filterWraper {
        flex-direction: row;
        border-width: 0px 0px 1px 0px;
        width: auto;
        margin-top: 0px;
        padding: 0px;
        gap: 15px;

        overflow-y: hidden;
        overflow-x: auto;
    }

    .filterTitle {
        display: none;
    }

    .inputHorisantal label {
        display: none;
    }

    .prodYear input {
        direction: none;
        width: 50px;
    }

    .mobileRating {
        display: block;
    }

    .desktopRating {
        display: none;
    }

    .ratingDisplay span {
        display: none;
    }

    .sortingForLabel {
        display: none;
    }

    .sortingForChices {
        display: block;
    }
    .sortingForChices select {
        width: 125px;
    }
}
