.headerWraper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--popup-background);
    text-transform: uppercase;
}

.optionsWraper {
    display: flex;
    gap: 40px;
}

.actionsWraper {
    display: flex;
    gap: 20px;
}


.logo {
    color: var(--primary-color);
    letter-spacing: 4px;
}


.optionNotSelection {
    text-decoration: none;
    color: var(--font-color-white);
}

.optionSelection {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

