.headerWraperCantainer {
    background-color: var(--popup-background);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}


.headerWraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}



.optionsWraper {
    display: flex;
    gap: 40px;
}

.actionsWraper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.logo {
    color: var(--primary-color);
    letter-spacing: 4px;
}

.logo a {
    text-decoration: none;
    color: var(--primary-color);
}

.optionNotSelection {
    text-decoration: none;
    color: var(--font-color-white);
}

.optionSelection {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.searchInput input {
    padding: 10px;
}


/* Mobile */

.phoneNavBarHolder {
    display: none;
}

@media screen and (max-width: 768px) {
    .optionsWraper {
        display: none;
    }

    .headerWraperCantainer {
        position: static;
    }

    .searchButton {
        display: none;
    }

    .phoneNavBarHolder {
        display: flex;
        justify-content: space-evenly;
        /* justify-content: center; */
        align-items: center;
        width: -webkit-fill-available;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        background-color: var(--popup-background);
        gap: 1px;
    }

    .optionNotSelection {
        padding: 5px;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: small;
        gap: 5px;
        color: color-mix(in srgb, var(--font-color-white), transparent 40%);
    }

    .optionSelection {
        color: var(--primary-color);
    }

    .headerWraper h2 {
        margin: 10px 0px 10px 0px;
    }

}