.card {
    width: 100%;
    justify-content: center;
    display: flex;
}

.cardinner {
    display: flex;
    width: 80%;
    /* justify-content: center;
    align-items: center; */
}

.halfCard {
    padding: 50px;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    background-color: var(--popup-background);
}

.secondHalf {
    padding: 50px;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    background-color: var(--popup-background-second);
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .secondHalf {
        display: flex;
        width: auto;
        padding: 15px;
    }
    .halfCard {
        display: none;
    }
    .cardinner {
        width: 100%;
    }
}
